@font-face {
    font-family: Pricedown;
    src: url(../assets/fonts/pricedow.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    
}

body {
    position: fixed;
}
/* Background  */
.black-effect {
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -2;
}

.background-im {
    top: -4px;
    position: absolute;
    filter: blur(2.5px);
    z-index: -9;
}

.background-im img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -9;
}

/* Barra lateral */

.side-bar {
    position: absolute;
    width: 193px;
    height: 100vh;
    z-index:1
}

.logo {
    font-family: Pricedown;
    position: relative;
}

#CJ {
    top: 40px;
    left: -22px;
    font-size: 108px;
    color: #fff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 4px;
}

#bank {
    font-size: 36px;
    top: 15px;
    left: 39px;
    color: #fff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.logo-container {
    margin-left: 60px;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-left: 36px;
}

.option-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 40px;
    text-align: center;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font: 14px 'Inter', sans-serif;
}

.option-label {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.option-item:hover {
    background-color: #7DA968;
}

.option-item:active {
    background-color: #263520;
    color: white;
}
/* Area de cabeçalho */

.header {
    position: absolute;
    background: rgba(125, 169, 104, 1);
    left: 200px;
    z-index: 2;
    width: 1166px;
    height: 30vh;
    border-radius: 0 0 20px 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.avatar {
    margin-top: 25px;
    margin-left: 80px;
    display: block;
    width: 133px;
    height: 133px;
    border-radius: 50%;

    background-image: url(../assets/images/agaragam.webp);
    background-size: 100%;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    
}

.dados {
    position: relative;
    margin-top: -100px;
    margin-left: 250px;
    font-family: 'Inter', sans-serif;
    color:#fff
}

.nome {
    font-family: Pricedown;
    top: -10px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    position: relative;
    font-size: 64px;
}

.agencia {
    position: relative;
    font-size: 18px;
    left: -195px;
    top: 30px;
}

.conta {
    position: relative;
    font-size: 18px;
    top: 30px;
    left: -145px;
}

.icones-menu img{
    width: 30px;
}

.icones-menu a {
    height: 30px;
}

.icones-menu {
    position: relative;
    display: flex;
    gap: 10px;
    top: -8px;
    left: 900px;
}

/* Area principal */

.main {
    position: relative;
    left: 200px;
    width: 1166px;
    height: 100vh;
    background: white;
}

.card-flex {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 80px;
    top: 230px;
    z-index: 5;
    
}


.card {
    width: 180px;
    height: 80px;
    border-radius: 10px;
    background: rgba(125, 169, 104, 0.81);
    border: 2px solid #000000;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.5s 0s ease;
}

.card:hover {
    transform: scale(1.03);
}


.saldo {
    background-color: white;
    border: 2px solid #7DA968;
}

.icon-label {
    position: relative;
    top: 50%;
    left: -3px;
    transform: translateY(-50%); 
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.icon-label span {
    color: white;
    font: 20px 'Inter', sans-serif;
    font-weight: 400;
}

.icon-label img {
    width: 20px;
}

.card.saldo img {
    position: relative;
    top: 16px;
    left: 32px;
    width: 20px;
}

.saldo-val {
    position: relative;
    color: #7DA968;
    font: 14px 'Inter', sans-serif;
    top: 43px;
    left: -46px;
}

.label-saldo{
    color: #7DA968;
    position: relative;
    font: 18px 'Inter', sans-serif;
    font-weight: 700;
    top: 10px;
    left: 30px;
}

/*Inicio da estilização do modal de adicionar dinheiro*/
#fade, #modal, #fade2, #modal2 {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#fade,#fade2  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal,#modal2 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;
    width: 619px;
    height: 452px;
    max-width: 90%;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 21px;
    padding-bottom: 21px;
    border-radius: 20px;
}

#modal.hide, #fade.hide, #fade2.hide, #modal2.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide, #modal2.hide{
    top: 0;
}

.modal-header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 49px;
}

.header-modal-text{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #7DA968;
    font-family: 'Inter', sans-serif;
}

.division-modal-line-top{
    position: absolute;
    width: 619px;
    left: 39px;
    top: 79px;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.modal-add-body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 333px;
}

#add-title{
    position: absolute;
    top: 128px;
    left: 118px;
    width: 467px;
    height: 25px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #7DA968;
}

.value-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 278px;
    height: 40px;
    left: 190px;
    top: 191px;
}

#text-value{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(125, 169, 104, 0.81);
}

#input-value{
    width: 192px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid rgba(125, 169, 104, 0.81);
    border-radius: 10px;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    padding-left: 8px;
}

.suggestions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 226px;
    height: 73px;
    top: 260px;
}

#suggestions-text{
    width: 89px;
    height: 25px;
    left: 266px;
    top: 249px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #7DA968;
}

.suggestions-buttons-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 226px;
    height: 40px;
}

.suggestions-buttons{
    
    width: 40px;
    height: 40px;
    left: 197px;
    top: 282px;
    background: #FFFFFF;
    border: 2px solid #7DA968;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #7DA968;
}

.suggestions-buttons:hover{
    transform: scale(1.03);
}

.division-modal-line-botton{
    position: absolute;
    width: 619px;
    left: 39px;
    bottom: 89px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}

#close-modal, #closePixModal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 51px;
    background: #FFFFFF;
    border: 2px solid #7DA968;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #7DA968;

    width: 103px;
    height: 51px;
    left: 76px;
    bottom: 21px;
}

#close-modal:hover, #closePixModal:hover{
    transform: scale(1.03);
}

#add-money, #transfer-money{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: rgba(125, 169, 104, 0.81);
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#add-money:hover, #transfer-money:hover{
    transform: scale(1.03);
}

#add-money{
    position: absolute;
    width: 103px;
    height: 51px;
    right: -160px;
    bottom: -240px;
}

#transfer-money{
    position: absolute;
    width: 103px;
    height: 51px;
    right: 71px;
    bottom: 21px;
}
/*Fim da estilização do modal de adicionar dinheiro*/

/*Inicio da estilização do body do modal de transferencia*/
.modal-transfer-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 333px;
}

#transfer-title, #value-transfer-title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #7DA968;
}
.form-container{
    display: flex;
    width: 380px;
    justify-content: space-between;
}
.agcc-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 380px;
    height: 63px;
}

.ag-container, .cc-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ag-container:hover, .cc-container:hover{
    transform: scale(1.03);
}

#ag-text, #cc-text, #value-text-transfer{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #7DA968;
}

#ag-input, #cc-input{
    width: 160px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid rgba(125, 169, 104, 0.81);
    border-radius: 10px;
    font-size: 20px;
    padding-left: 8px;
}

.value-transfer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 233px;
    height: 30px;
}

.value-transfer-container:hover{
    transform: scale(1.03);
}

#value-input-transfer{
    width: 160px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid rgba(125, 169, 104, 0.81);
    border-radius: 10px;
    font-size: 20px;
    padding-left: 8px;
}

/* Posicionamento dos elementos do body do modal de transferencia */
#transfer-title{
    position: absolute;
    top: 119px;
}

.agcc-container{
    position: absolute;
    top: 163px;
}

#value-transfer-title{
    position: absolute;
    top: 276px;
}

.value-transfer-container{
    position: absolute;
    top: 333px;
}







/*Fim da estilização do body do modal de transferencia*/

/* Card */
.credit {
    position: absolute;
    top: 340px;
    left: 180px;
    width: 240px;
    height: 200px;

    gap: 17px;
    border: 2px solid #7DA968;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;;
    
}

#cartao-cred {
    margin-top: 20px;
    font-size: 18px;
    align-self: center;
}

#fatura-span {
    font-size: 12px;
    color: gray;
    align-self: flex-end;
    margin: 0 43px 0 0;
}

#fatura-val-span {
    font-size: 20px;
    font-weight: 700;
    color: #7DA968;
    margin: -10px 0 5px 45px;
}

#limite-span {
    font-size: 12px;
    color: gray;
    margin: -20px 0 0 45px;
}

.credit button, .emprestimo button {
    align-self: center;
    margin-top: 15px;
    padding: 0 20px 0 20px;
    height: 30px;

    background-color: #7DA968;
    border-radius: 8px;
    color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}


.emprestimo {
    position: absolute;
    top: 340px;
    left: 660px;

    width: 340px;
    height: 200px;

    gap: 17px;
    border: 2px solid #7DA968;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
   
}

#emp {
    margin-top: 20px;
    font-size: 18px;
    align-self: center;
}

#emp-atual {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: rgba(111, 111, 111, 1);
    align-self: center;   
}

#mark {
    font-size: 12px;
    color: rgba(150, 150, 150, 1);
    align-self: center;
    margin: 0 21px -10px 30px;
}