@font-face {
    font-family: PriceDown;
    src: url(../assets/fonts/pricedow.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


.background-im {
    top: 0px;
    left: 0px;
    position: absolute;
    filter: blur(2px);
    z-index: -9;
}

.background-im img {
    object-fit: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -9;
}



.loginContainer{
    position: absolute ;
    width: 280px;
    height: 340px;
    left: 40%;
    top: 42%;
    background:rgba(125, 169, 104, 0.81);
    border-radius: 10px;
    border: 2px solid black;
}


.CJBank {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;

    color: white;
    font-size: 48px;
    font-family: PriceDown;
    position: absolute;
    top: 32px;
    left: 84px;
}

.bem-vindo {
    font: 16px 'Inter', sans-serif;
    font-weight: 700;
    position: relative;
    top: 80px;
    left: 80px;
}

#login-form {
    position: absolute;
    top: 120px;
    left: 60px;
    margin: 10px 0 10px 0;
}

label {
    display: block;
    font-size: 12px;
    font-family: 'Inter', sans-serif
}

input {
    width: 160px;
    height: 20px;
    border: none;
    margin: 5px 0 20px 0;
    border-radius: 5px;
    background: #AFD9A4;
    border: 1px solid black;
}


a {
    position: relative;
    top: 280px;
    left: -24px;
}

.submit {
    position: relative;
    top: -13px;

    height: 27px;
    width: 86px;

    font-family: 'Inter', sans-serif;
    font-size: 12px;

    border: none;
    border-radius: 3px;
    background: rgba(175, 217, 164, 1);
    border: 1px solid black;


}

/* .submit:hover {
    background: #00FF00;
} */